p{
  font-size: 50px;
  margin-top: 70px;
  margin-bottom:160px;
  width: auto;
}
#buttons1{
  margin-left: 500px;
}

div.btn--option1,div.btn--option2{
  color: #fff;
  background-color: #0ad696;
  border-bottom: 5px solid #007c2f;
  padding: 50px 100px;
  border-radius: 30px;
}

div.btn--option1:active,div.btn--option2:active{
  margin-top: 3px;
  color: #fff;
  background: #0ad696;
  border-bottom: 2px solid #007c2f;
}

#restart-button {
  color: #fff;
  background-color: #0ad696;
  border-bottom: 5px solid #007c2f;
  border-right: 3px solid #02a841;
  padding: 12px 24px;
  border-radius: 10px
}

#back-button {
  color: #fff;
  background-color: #0ad696;
  border-bottom: 5px solid #007c2f;
  padding: 12px 24px;
  border-radius: 10px
}

#restart-button:active,#back-button:active{
  margin-top: 3px;
  color: #fff;
  background: #0ad696;
  border-bottom: 2px solid #007c2f;
  border-right: 2px solid #007c2f;
}

div.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}